# Core functionality - changes here should be rare!
/src/app.py                   @mackenziesimons
/src/backend/database.py      @mackenziesimons
/src/backend/routers/auth.py  @mackenziesimons

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mackenziesimons
